In [1]:
import pandas as pd
import numpy as np
import random
import sys
sys.path.append('../..')
from modules.many_features import utils, constants
import warnings
warnings.filterwarnings('ignore')

C:\Users\User\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
C:\Users\User\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:30: DeprecationWarning:

`np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

C:\Users\User\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:167: DeprecationWarning:

`np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

C:\Users\User\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:284: DeprecationWarning:

`np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

C:\Users\User\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:862: DeprecationWarning:

`np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

C:\Users\User\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1101: DeprecationWarning:

`np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

C:\Users\User\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1127: DeprecationWarning:

`np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

C:\Users\User\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1362: DeprecationWarning:

`np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

C:\Users\User\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1602: DeprecationWarning:

`np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

C:\Users\User\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1738: DeprecationWarning:

`np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

C:\Users\User\Anaconda3\lib\site-packages\sklearn\decomposition\online_lda.py:29: DeprecationWarning:

`np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [2]:
df= pd.read_csv('../../data/more_features/more_feats_correlated_noisy_2.csv')
#df = df.fillna(-1)
df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,6.863691,341.823457,-1.000000,0.681783,284.835163,92.819484,-1.000000,2.218400,1,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,20.591074,-1.000000,Inconclusive diagnosis
1,8.745950,104.470248,0.461482,0.787183,409.993509,104.531457,77.222298,2.510043,1,0.713849,77.276464,51.527756,7.722555,7.822857,-1.0,26.237850,18.835005,Vitamin B12/Folate deficiency anemia
2,10.308881,475.936322,-1.000000,6.155778,-1.000000,104.647240,95.040788,2.955323,1,-1.000000,18.285577,100.169515,54.471371,11.239513,-1.0,30.926642,-1.000000,Vitamin B12/Folate deficiency anemia
3,7.525442,-1.000000,1.972946,2.172161,-1.000000,97.271565,-1.000000,2.320958,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,22.576325,-1.000000,No anemia
4,9.544870,411.496642,0.891182,0.000000,236.428214,104.721025,-1.000000,2.734371,1,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,28.634611,-1.000000,Unspecified anemia

In [3]:
df.isna().sum()

hemoglobin               0
ferritin                 0
ret_count                0
segmented_neutrophils    0
tibc                     0
mcv                      0
serum_iron               0
rbc                      0
gender                   0
creatinine               0
cholestrol               0
copper                   0
ethanol                  0
folate                   0
glucose                  0
hematocrit               0
tsat                     0
label                    0
dtype: int64

In [4]:
df = df.replace(-1, np.nan)
df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,6.863691,341.823457,NaN,0.681783,284.835163,92.819484,NaN,2.218400,1,NaN,NaN,NaN,NaN,NaN,NaN,20.591074,NaN,Inconclusive diagnosis
1,8.745950,104.470248,0.461482,0.787183,409.993509,104.531457,77.222298,2.510043,1,0.713849,77.276464,51.527756,7.722555,7.822857,NaN,26.237850,18.835005,Vitamin B12/Folate deficiency anemia
2,10.308881,475.936322,NaN,6.155778,NaN,104.647240,95.040788,2.955323,1,NaN,18.285577,100.169515,54.471371,11.239513,NaN,30.926642,NaN,Vitamin B12/Folate deficiency anemia
3,7.525442,NaN,1.972946,2.172161,NaN,97.271565,NaN,2.320958,0,NaN,NaN,NaN,NaN,NaN,NaN,22.576325,NaN,No anemia
4,9.544870,411.496642,0.891182,0.000000,236.428214,104.721025,NaN,2.734371,1,NaN,NaN,NaN,NaN,NaN,NaN,28.634611,NaN,Unspecified anemia

In [5]:
df.isna().sum()

hemoglobin                   0
ferritin                 24887
ret_count                25000
segmented_neutrophils    24103
tibc                     25827
mcv                       5000
serum_iron               25900
rbc                       5000
gender                       0
creatinine               38500
cholestrol               25900
copper                   25900
ethanol                  19600
folate                   25900
glucose                  51100
hematocrit                   0
tsat                     42154
label                        0
dtype: int64

In [6]:
def insert_nans(df, col, frac):
    non_null_indices = df[df[col].notna()].index.tolist() #getting not null indices
    to_change_indices = random.sample(non_null_indices, int(frac*len(non_null_indices)))
    df.loc[to_change_indices, col] = np.nan
    return df

In [7]:
frac = 0.05

In [8]:
for column in df.columns:
    if column not in ['hemoglobin', 'gender', 'label']:
        df = insert_nans(df, column, frac)
df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,6.863691,341.823457,NaN,0.681783,284.835163,92.819484,NaN,2.218400,1,NaN,NaN,NaN,NaN,NaN,NaN,20.591074,NaN,Inconclusive diagnosis
1,8.745950,104.470248,0.461482,0.787183,409.993509,104.531457,77.222298,2.510043,1,0.713849,NaN,51.527756,7.722555,7.822857,NaN,26.237850,18.835005,Vitamin B12/Folate deficiency anemia
2,10.308881,475.936322,NaN,6.155778,NaN,104.647240,95.040788,2.955323,1,NaN,18.285577,100.169515,54.471371,11.239513,NaN,30.926642,NaN,Vitamin B12/Folate deficiency anemia
3,7.525442,NaN,1.972946,2.172161,NaN,97.271565,NaN,2.320958,0,NaN,NaN,NaN,NaN,NaN,NaN,22.576325,NaN,No anemia
4,9.544870,411.496642,0.891182,0.000000,236.428214,104.721025,NaN,2.734371,1,NaN,NaN,NaN,NaN,NaN,NaN,28.634611,NaN,Unspecified anemia

In [9]:
df.isna().sum()

hemoglobin                   0
ferritin                 27142
ret_count                27250
segmented_neutrophils    26397
tibc                     28035
mcv                       8250
serum_iron               28105
rbc                       8250
gender                       0
creatinine               40075
cholestrol               28105
copper                   28105
ethanol                  22120
folate                   28105
glucose                  52045
hematocrit                3500
tsat                     43546
label                        0
dtype: int64

In [10]:
utils.get_dt_performance(df)

(0.7139285714285715,
 0.7119085995948692,
 0.833481105802754,
 datetime.timedelta(microseconds=3001))

In [11]:
df.to_csv('../../data/more_features/more_feats_correlated_noisy_2_missing_05.csv', index=False)