In [1]:
import pandas as pd
import numpy as np
import random
from sklearn.model_selection import train_test_split
import sys
sys.path.append('../..')
from modules.many_features import utils, constants

In [2]:
SEED = 
random.seed(SEED)
np.random.seed(SEED)

In [3]:
def sample_train_set(x, y, frac):
    sample_num = int(frac*len(x))
    idx_list = random.sample(list(x.index), sample_num)
    sampled_x = x.loc[idx_list]
    sampled_y = y.loc[idx_list]
    return sampled_x, sampled_y

In [4]:
def sample_train_set2(x, y, frac):
    X_train, X_non, y_train, y_non = train_test_split(x, y, test_size=1-frac, stratify=y, random_state=SEED)
    return X_train, y_train

#### The dataset

In [5]:
train_df = pd.read_csv('../../final/data/train_set_basic.csv')
X_set = train_df.iloc[:, 0:-1]
y_set = train_df.iloc[:, -1]
train_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,9.007012,-1.000000,-1.000000,3.519565,440.499323,103.442762,59.017997,2.612173,1,0.650757,114.794964,112.308159,25.612786,5.969710,116.026042,27.021037,13.397977,1
1,8.760976,-1.000000,0.491469,-1.000000,259.895852,103.885481,-1.000000,2.529991,0,0.728641,74.824352,-1.000000,-1.000000,-1.000000,-1.000000,26.282929,-1.000000,7
2,7.490324,70.812609,-1.000000,1.495604,482.109919,79.543391,-1.000000,2.824995,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,22.470972,-1.000000,4
3,8.113370,499.313483,3.507612,0.000000,195.351883,100.545858,203.895756,2.420797,1,0.860863,9.120947,41.131511,1.843890,18.845473,106.199806,24.340111,104.373581,2
4,13.935301,349.569415,5.190725,6.894195,489.595939,102.234294,150.085853,4.089225,1,0.216907,20.344863,92.547095,19.815123,29.543875,98.388710,41.805903,30.655044,0

In [6]:
fracs = [0.01, 0.05, 0.1, 0.5]

In [7]:
for frac in fracs:
    x, y = sample_train_set(X_set, y_set, frac)
    df = pd.concat([x.reset_index(drop=True), y.reset_index(drop=True)], axis=1)
    print(f'frac:{frac} - {len(df)} samples')
    df.to_csv(f'../../final/data/train_set_basic_{frac}_seed_{SEED}.csv', index=False)

frac:0.01 - 560 samples
frac:0.05 - 2800 samples
frac:0.1 - 5600 samples
frac:0.5 - 28000 samples