In [8]:
import pandas as pd
import numpy as np
import random
import sys
sys.path.append('../..')
from modules.many_features import utils, constants
import warnings
warnings.filterwarnings('ignore')

In [9]:
df= pd.read_csv('../../data/more_features/more_feats_correlated_noisy_4.csv')
#df = df.fillna(-1)
df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,8.725667,-1.000000,2.344526,-1.000000,-1.000000,96.678418,-1.000000,2.707637,1,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,26.177001,-1.000000,Hemolytic anemia
1,12.430232,231.691743,5.143660,5.339158,484.590922,87.353532,-1.000000,4.268940,0,-1.000000,-1.000000,-1.000000,8.718062,-1.000000,-1.000000,37.290695,-1.000000,No anemia
2,6.737760,360.843434,-1.000000,5.481140,421.177091,75.086568,82.986344,2.691997,0,0.458698,19.596767,69.527433,-1.000000,23.027617,-1.000000,20.213279,19.703433,Anemia of chronic disease
3,12.313034,-1.000000,2.765581,0.000000,-1.000000,99.494524,-1.000000,3.712677,1,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,36.939103,-1.000000,Unspecified anemia
4,6.758140,-1.000000,1.696525,5.648115,-1.000000,86.643128,199.741346,2.339992,0,0.887158,80.614718,109.197814,18.770122,7.668335,63.159054,20.274421,-1.000000,Aplastic anemia

In [10]:
df.isna().sum()

hemoglobin               0
ferritin                 0
ret_count                0
segmented_neutrophils    0
tibc                     0
mcv                      0
serum_iron               0
rbc                      0
gender                   0
creatinine               0
cholestrol               0
copper                   0
ethanol                  0
folate                   0
glucose                  0
hematocrit               0
tsat                     0
label                    0
dtype: int64

In [11]:
df = df.replace(-1, np.nan)
df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,8.725667,NaN,2.344526,NaN,NaN,96.678418,NaN,2.707637,1,NaN,NaN,NaN,NaN,NaN,NaN,26.177001,NaN,Hemolytic anemia
1,12.430232,231.691743,5.143660,5.339158,484.590922,87.353532,NaN,4.268940,0,NaN,NaN,NaN,8.718062,NaN,NaN,37.290695,NaN,No anemia
2,6.737760,360.843434,NaN,5.481140,421.177091,75.086568,82.986344,2.691997,0,0.458698,19.596767,69.527433,NaN,23.027617,NaN,20.213279,19.703433,Anemia of chronic disease
3,12.313034,NaN,2.765581,0.000000,NaN,99.494524,NaN,3.712677,1,NaN,NaN,NaN,NaN,NaN,NaN,36.939103,NaN,Unspecified anemia
4,6.758140,NaN,1.696525,5.648115,NaN,86.643128,199.741346,2.339992,0,0.887158,80.614718,109.197814,18.770122,7.668335,63.159054,20.274421,NaN,Aplastic anemia

In [12]:
df.isna().sum()

hemoglobin                   0
ferritin                 24776
ret_count                25000
segmented_neutrophils    25907
tibc                     25739
mcv                       5000
serum_iron               25900
rbc                       5000
gender                       0
creatinine               38500
cholestrol               25900
copper                   25900
ethanol                  19600
folate                   25900
glucose                  51100
hematocrit                   0
tsat                     42099
label                        0
dtype: int64

In [13]:
#frac = 0.1

In [ ]:
def insert_nans(df, col, frac):
    non_null_indices = df[df[col].notna()].index.tolist() #getting not null indices
    to_change_indices = random.sample(non_null_indices, np.floor(frac*len(non_null_indices)))
    df = df.loc[to_change_indices, col]
    return df

In [ ]:
for column in df.columns:
    if column not in ['hemoglobin', 'gender', 'label']:
        df[column] = df[column].sample(frac=1-frac)
df.head()

In [ ]:
df.shape

In [ ]:
df.isna().sum()

In [ ]:
utils.get_dt_performance(df)

In [ ]:
df.to_csv('../../data/more_features/more_feats_correlated_missing_2.csv', index=False)