In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
import sys
sys.path.append('../..')
from modules.many_features import utils, constants
import matplotlib.pyplot as plt
%matplotlib inline

#### The data used

In [2]:
#df = pd.read_csv('data/anemia_synth_dataset_hb_some_nans.csv')
df = pd.read_csv('data/anemia_synth_dataset_with_unspecified.csv')
df = df.fillna(0)
# classes = list(df.label.unique())
# nums = [i for i in range(len(classes))]
# class_dict = dict(zip(classes, nums))
class_dict = {'No anemia': 0, 'Hemolytic anemia': 1, 'Aplastic anemia': 2, 'Iron deficiency anemia': 3,
              'Vitamin B12/Folate deficiency anemia': 4, 'Anemia of chronic disease': 5, 'Unspecified anemia': 6}
df['label'] = df['label'].replace(class_dict)
X = df.iloc[:, 0:-1]
y = df.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y, random_state=42)
X_train, y_train = np.array(X_train), np.array(y_train)
X_test, y_test = np.array(X_test), np.array(y_test)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((27990, 6), (11997, 6), (27990,), (11997,))

In [ ]:
df = pd.read_csv('../../data/more_features/more_feats_correlated_testing_noanem_noisy_6.csv')
df = df.fillna(-1)
class_Dict = cons

In [3]:
test_df = pd.read_csv('test_dfs/unspecified/test_df_2e6.csv')
test_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred
0,4.0,0.0,0.0,2.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Aplastic a...",3.0,2.0
1,4.0,1.0,1.0,4.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Hemolytic ...",1.0,1.0
2,4.0,2.0,1.0,4.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Hemolytic ...",1.0,1.0
3,3.0,3.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0
4,2.0,4.0,1.0,2.0,0.0,"['hemoglobin', 'No anemia']",0.0,0.0

In [4]:
test_df.y_pred.isna().sum()/len(test_df)*100

3.225806451612903

In [5]:
def get_min_of_array(array, n):
    '''The n least elements in an array'''
    idx = np.argpartition(array, n)
    min_vals = array[idx[:n]]
    return min_vals

In [6]:
X_test_df = pd.concat([pd.DataFrame(X_test), pd.DataFrame(y_test)], axis=1)
X_test_df.columns = df.columns
X_test_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,label
0,6.358114,7.456905,0.899510,0.0,179.321529,79.834294,3
1,6.916824,0.000000,3.364093,0.0,0.000000,93.727350,1
2,4.876427,0.000000,7.192057,0.0,262.057496,81.703906,1
3,5.512009,0.000000,2.239909,0.0,369.249581,103.425213,6
4,12.542203,187.758045,0.853891,0.0,283.777161,0.000000,0

In [7]:
a1 = np.array(test_df['y_actual'], dtype=np.float32)
a2 = np.array(X_test_df['label'], dtype=np.float32)
assert np.array_equal(a1, a2)

#### -1 Unspecified Anemia

In [16]:
unspecified_test_df = test_df[test_df.y_actual== 6]
unspecified_x_test_df = X_test_df[X_test_df.label==6]
combined_unspecified_test_df = pd.concat([unspecified_test_df, unspecified_x_test_df], axis=1)
combined_unspecified_test_df.head(50)

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,label
3,3.0,3.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,5.512009,0.000000,2.239909,0.0,369.249581,103.425213,6
62,3.0,62.0,0.0,1.0,0.0,"['hemoglobin', 'mcv', 'Vitamin B12/Folate defi...",6.0,4.0,6.774013,0.000000,2.025199,0.0,0.000000,107.058006,6
102,3.0,102.0,0.0,1.0,0.0,"['hemoglobin', 'mcv', 'Vitamin B12/Folate defi...",6.0,4.0,5.430025,0.000000,0.000000,0.0,0.000000,105.672261,6
206,3.0,206.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,8.324732,0.000000,0.000000,0.0,0.000000,100.856056,6
266,3.0,266.0,0.0,1.0,0.0,"['hemoglobin', 'mcv', 'No anemia']",6.0,0.0,11.808887,0.000000,0.000000,0.0,325.895953,104.617132,6
325,3.0,325.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,9.295527,215.284249,0.000000,0.0,0.000000,103.074314,6
328,8.0,328.0,0.0,-2.0,1.0,"['hemoglobin', 'mcv', 'ret_count', 'ret_count'...",6.0,NaN,8.408532,0.000000,0.000000,0.0,363.195713,100.062445,6
345,3.0,345.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,2.408013,0.000000,1.185626,0.0,0.000000,101.451952,6
361,3.0,361.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,11.361016,0.000000,0.772127,0.0,0.000000,100.080965,6
410,3.0,410.0,0.0,1.0,0.0,"['hemoglobin', 'mcv', 'No anemia']",6.0,0.0,11.919342,243.324214,0.000000,0.0,0.000000,100.715680,6
442,3.0,442.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,5.587097,0.000000,0.000000,0.0,0.000000,102.747085,6
454,3.0,454.0,0.0,1.0,0.0,"['hemoglobin', 'mcv', 'No anemia']",6.0,0.0,11.843990,0.000000,1.593179,0.0,0.000000,100.370820,6
472,8.0,472.0,0.0,-4.0,1.0,"['hemoglobin', 'mcv', 'mcv', 'mcv', 'mcv', 'mc...",6.0,NaN,4.262395,0.000000,0.000000,0.0,0.000000,118.029026,6
482,3.0,482.0,0.0,1.0,0.0,"['hemoglobin', 'mcv', 'Vitamin B12/Folate defi...",6.0,4.0,3.403700,0.000000,1.665137,0.0,0.000000,106.229853,6
492,3.0,492.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,1.369079,0.000000,0.000000,0.0,0.000000,101.520898,6
518,3.0,518.0,0.0,1.0,0.0,"['hemoglobin', 'mcv', 'No anemia']",6.0,0.0,11.853687,175.539535,0.000000,0.0,0.000000,103.598417,6
528,8.0,528.0,0.0,-4.0,1.0,"['hemoglobin', 'mcv', 'mcv', 'mcv', 'mcv', 'mc...",6.0,NaN,6.580513,58.988763,0.000000,0.0,331.524458,111.518123,6
631,3.0,631.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,11.177431,0.000000,0.810678,0.0,0.000000,100.444190,6
655,3.0,655.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,5.108954,32.309950,0.000000,0.0,0.000000,101.523045,6
681,3.0,681.0,0.0,1.0,0.0,"['hemoglobin', 'mcv', 'Vitamin B12/Folate defi...",6.0,4.0,7.499940,0.000000,0.000000,0.0,0.000000,105.842035,6
757,3.0,757.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,7.562346,0.000000,2.392020,0.0,0.000000,100.359374,6
761,3.0,761.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,6.288793,0.000000,1.779372,0.0,406.398094,101.591435,6
821,3.0,821.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,6.253451,0.000000,0.000000,0.0,0.000000,103.172306,6
822,3.0,822.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,2.476573,45.610440,0.000000,0.0,0.000000,102.416596,6
861,3.0,861.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,9.589922,0.000000,0.000000,0.0,0.000000,100.360659,6
932,3.0,932.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,6.921240,102.414781,0.000000,0.0,0.000000,100.049580,6
956,3.0,956.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,5.616965,0.000000,1.672525,0.0,0.000000,101.120640,6
962,3.0,962.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,7.316365,0.000000,2.121848,0.0,0.000000,102.316949,6
971,3.0,971.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,5.943254,223.775607,2.312380,0.0,0.000000,102.575683,6
991,3.0,991.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,10.425205,0.000000,0.000000,0.0,0.000000,102.010834,6
1032,8.0,1032.0,0.0,-4.0,1.0,"['hemoglobin', 'mcv', 'mcv', 'mcv', 'mcv', 'mc...",6.0,NaN,11.567078,0.000000,0.000000,0.0,289.008231,109.690868,6
1082,3.0,1082.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,4.765861,184.655969,1.551377,0.0,392.578073,103.720255,6
1129,3.0,1129.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,8.225744,204.467850,0.000000,0.0,0.000000,101.895214,6
1143,3.0,1143.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,10.125630,0.000000,0.000000,0.0,0.000000,102.226718,6
1148,3.0,1148.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,6.662033,0.000000,0.000000,0.0,0.000000,101.037262,6
1202,3.0,1202.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,8.367444,0.000000,0.000000,0.0,0.000000,103.241887,6
1275,8.0,1275.0,0.0,-2.0,1.0,"['hemoglobin', 'mcv', 'ferritin', 'ferritin', ...",6.0,NaN,1.456910,0.000000,0.000000,0.0,0.000000,109.097309,6
1387,3.0,1387.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,10.779981,0.000000,0.000000,0.0,343.733788,104.147368,6
1400,3.0,1400.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,9.995667,232.702571,0.000000,0.0,0.000000,100.267028,6
1401,3.0,1401.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,9.001604,241.151726,2.210040,0.0,250.187801,102.595650,6
1418,3.0,1418.0,0.0,1.0,0.0,"['hemoglobin', 'mcv', 'Vitamin B12/Folate defi...",6.0,4.0,1.816513,0.000000,0.000000,0.0,0.000000,108.738484,6
1425,3.0,1425.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,3.681795,0.000000,0.000000,0.0,337.718258,103.617149,6
1432,3.0,1432.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,7.029210,262.961029,0.743888,0.0,0.000000,102.449492,6
1461,8.0,1461.0,0.0,-2.0,1.0,"['hemoglobin', 'mcv', 'ferritin', 'ferritin', ...",6.0,NaN,5.388278,0.000000,2.042096,0.0,0.000000,109.092798,6
1476,3.0,1476.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,4.754722,241.482215,0.000000,0.0,372.609488,104.537909,6
1494,3.0,1494.0,0.0,1.0,0.0,"['hemoglobin', 'mcv', 'Vitamin B12/Folate defi...",6.0,4.0,10.494122,145.240186,0.000000,0.0,0.000000,107.206705,6
1554,8.0,1554.0,0.0,-2.0,1.0,"['hemoglobin', 'mcv', 'ferritin', 'ferritin', ...",6.0,NaN,8.787527,0.000000,0.000000,0.0,306.268607,108.128527,6
1566,3.0,1566.0,1.0,3.0,0.0,"['hemoglobin', 'mcv', 'Unspecified anemia']",6.0,6.0,2.371696,87.407308,2.017482,0.0,0.000000,105.160431,6
1571,8.0,1571.0,0.0,-4.0,1.0,"['hemoglobin', 'mcv', 'mcv', 'mcv', 'mcv', 'mc...",6.0,NaN,4.852957,0.000000,0.000000,0.0,431.463546,117.139651,6
1584,4.0,1584.0,0.0,2.0,0.0,"['hemoglobin', 'mcv', 'ferritin', 'Aplastic an...",6.0,2.0,2.335766,108.156372,0.000000,0.0,0.000000,108.844062,6

In [55]:
df_0 = combined_unspecified_test_df[combined_unspecified_test_df.y_pred==2]
df_0

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,label
1584,4.0,1584.0,0.0,2.0,0.0,"['hemoglobin', 'mcv', 'ferritin', 'Aplastic an...",6.0,2.0,2.335766,108.156372,0.000000,0.0,0.000000,108.844062,6
2541,4.0,2541.0,0.0,2.0,0.0,"['hemoglobin', 'mcv', 'ferritin', 'Aplastic an...",6.0,2.0,5.905976,186.358323,0.000000,0.0,0.000000,109.203725,6
3019,4.0,3019.0,0.0,2.0,0.0,"['hemoglobin', 'mcv', 'ferritin', 'Aplastic an...",6.0,2.0,2.996099,256.019637,0.000000,0.0,0.000000,109.069170,6
4258,4.0,4258.0,0.0,2.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Aplastic a...",6.0,2.0,7.921018,93.377873,1.682558,0.0,0.000000,100.059683,6
9010,4.0,9010.0,0.0,2.0,0.0,"['hemoglobin', 'mcv', 'ferritin', 'Aplastic an...",6.0,2.0,7.044562,96.681998,0.000000,0.0,0.000000,108.201518,6
9694,4.0,9694.0,0.0,2.0,0.0,"['hemoglobin', 'mcv', 'ferritin', 'Aplastic an...",6.0,2.0,9.905833,191.634660,0.000000,0.0,316.582074,109.230846,6
10704,4.0,10704.0,0.0,2.0,0.0,"['hemoglobin', 'mcv', 'ferritin', 'Aplastic an...",6.0,2.0,7.882964,86.519321,0.000000,0.0,0.000000,109.903635,6

In [57]:
df_0.mcv.mean(), df_0.mcv.std()

(107.78751990947191, 3.445203056268553)

In [39]:
df_0.hemoglobin.mean(), df_0.hemoglobin.std()

(5.380203097420577, 2.523272674172817)

In [15]:
len(combined_unspecified_test_df)

481

In [ ]:
combined_unspecified_test

#### 0 - Hemolytic Anemia

In [45]:
hemolytic_test_df = test_df[test_df.y_pred == 0]
hemolytic_x_test_df = X_test_df[X_test_df.label== 0]

In [48]:
a1 = hemolytic_test_df[hemolytic_test_df.y_actual != hemolytic_test_df.y_pred]
a1.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred
33,5.0,33.0,0.0,3.0,0.0,"['mentzer_index', 'rbc', 'ret_count', 'mcv', '...",2.0,0.0
253,5.0,253.0,0.0,3.0,0.0,"['mentzer_index', 'rbc', 'ret_count', 'mcv', '...",2.0,0.0
601,5.0,601.0,0.0,3.0,0.0,"['mentzer_index', 'rbc', 'ret_count', 'mcv', '...",2.0,0.0
798,5.0,798.0,0.0,3.0,0.0,"['mentzer_index', 'rbc', 'ret_count', 'mcv', '...",2.0,0.0
1174,5.0,1174.0,0.0,3.0,0.0,"['mentzer_index', 'rbc', 'ret_count', 'mcv', '...",2.0,0.0

In [55]:
a1_index_list = list(a1.index)
a1_x_test_df = X_test_df.iloc[a1_index_list]
len(a1_x_test_df)

62

In [60]:
a1_x_test_df.describe()

,ferritin,ret_count,segmented_neutrophils,iron,tibc,rbc,mcv,mentzer_index,label
count,62.0,62.000000,62.0,62.0,62.0,62.000000,62.000000,62.000000,62.0
mean,0.0,1.901234,0.0,0.0,0.0,3.179949,88.090720,29.816013,2.0
std,0.0,0.351053,0.0,0.0,0.0,0.817971,4.156499,8.790087,0.0
min,0.0,0.006229,0.0,0.0,0.0,1.696806,80.602310,15.525618,2.0
25%,0.0,1.952360,0.0,0.0,0.0,2.483316,85.103664,23.066521,2.0
50%,0.0,1.973896,0.0,0.0,0.0,3.132505,88.698947,28.316785,2.0
75%,0.0,1.987303,0.0,0.0,0.0,3.786011,90.663813,35.495148,2.0
max,0.0,1.999754,0.0,0.0,0.0,5.191569,98.037468,54.087862,2.0

#### 1 - Anemia of chronic disease

In [32]:
acd_test_df = test_df[test_df.y_actual == 5]
acd_x_test_df = X_test_df[X_test_df.label== 5]
combined_acd_test_df = pd.concat([acd_test_df, acd_x_test_df], axis=1)
combined_acd_test_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,label
12,4.0,12.0,0.0,2.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Hemolytic ...",5.0,1.0,11.575313,6328.062304,2.158977,0.0,162.929066,79.821483,5
33,5.0,33.0,1.0,5.0,0.0,"['hemoglobin', 'mcv', 'ferritin', 'tibc', 'Ane...",5.0,5.0,6.391260,2644.506310,0.000000,0.0,206.124879,72.764850,5
72,5.0,72.0,1.0,5.0,0.0,"['hemoglobin', 'mcv', 'ferritin', 'tibc', 'Ane...",5.0,5.0,1.061561,637.533935,0.000000,0.0,327.209061,78.020080,5
92,8.0,92.0,0.0,-2.0,1.0,"['hemoglobin', 'mcv', 'ret_count', 'ret_count'...",5.0,NaN,2.500476,5553.137234,0.000000,0.0,253.657564,78.879349,5
101,5.0,101.0,1.0,5.0,0.0,"['hemoglobin', 'mcv', 'ferritin', 'tibc', 'Ane...",5.0,5.0,2.851050,2784.776219,1.234847,0.0,394.671148,76.839887,5

In [34]:
acd_hem_pred_df = combined_acd_test_df[(combined_acd_test_df.y_pred==2)]
acd_hem_pred_df.mcv.mean()

79.42005904186286

In [20]:
#rows with tibc in their trajectory
tibc_acd_df = pd.DataFrame()
count=0
for i, row in acd_test_df.iterrows():
    try:
        traj = ast.literal_eval(row.trajectory)
    except:
        traj = row.trajectory
    if 'tibc' in traj:
        tibc_acd_df = tibc_acd_df.append(row)
tibc_acd_df

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred
6523,7.0,6523.0,0.0,5.0,0.0,"['mentzer_index', 'rbc', 'iron', 'mcv', 'ferri...",3.0,1.0

In [44]:
X_test_df.loc[6523]

ferritin                   1.774338
ret_count                  0.000000
segmented_neutrophils      0.000000
iron                     115.251457
tibc                     312.645199
rbc                        4.138273
mcv                       74.123819
mentzer_index             17.911776
label                      3.000000
Name: 6523, dtype: float64

#### 2- Aplastic Anemia

In [61]:
aplastic_test_df = test_df[test_df.y_pred == 2]
aplastic_x_test_df = X_test_df[X_test_df.label== 2]

In [63]:
#rows with tibc in their trajectory
neutrophils_aplastic_df = pd.DataFrame()
count=0
for i, row in aplastic_test_df.iterrows():
    try:
        traj = ast.literal_eval(row.trajectory)
    except:
        traj = row.trajectory
    if 'segmented_neutrophils' in traj:
        neutrophils_aplastic_df = neutrophils_aplastic_df.append(row)
neutrophils_aplastic_df

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred
4590,4.0,4590.0,0.0,2.0,0.0,"['mentzer_index', 'rbc', 'segmented_neutrophil...",4.0,2.0
6627,4.0,6627.0,0.0,2.0,0.0,"['mentzer_index', 'rbc', 'segmented_neutrophil...",4.0,2.0

In [64]:
a2 = aplastic_test_df[aplastic_test_df.y_actual != aplastic_test_df.y_pred]
a2.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred
2406,4.0,2406.0,0.0,2.0,0.0,"['mentzer_index', 'rbc', 'ret_count', 'Aplasti...",0.0,2.0
4307,4.0,4307.0,0.0,2.0,0.0,"['mentzer_index', 'rbc', 'ret_count', 'Aplasti...",0.0,2.0
4590,4.0,4590.0,0.0,2.0,0.0,"['mentzer_index', 'rbc', 'segmented_neutrophil...",4.0,2.0
6627,4.0,6627.0,0.0,2.0,0.0,"['mentzer_index', 'rbc', 'segmented_neutrophil...",4.0,2.0

In [65]:
a2_index_list = list(a2.index)
a2_x_test_df = X_test_df.iloc[a2_index_list]
a2_x_test_df

,ferritin,ret_count,segmented_neutrophils,iron,tibc,rbc,mcv,mentzer_index,label
2406,0.0,2.005960,0.000000,0.0,0.0,5.229860,90.839971,17.369485,0
4307,0.0,2.034032,0.000000,0.0,0.0,5.631821,99.033033,17.584549,0
4590,0.0,0.000000,0.056872,0.0,0.0,3.808240,102.922809,27.026343,4
6627,0.0,0.000000,0.044406,0.0,0.0,3.971057,104.236046,26.248945,4

In [67]:
X_test_df.describe()

,ferritin,ret_count,segmented_neutrophils,iron,tibc,rbc,mcv,mentzer_index,label
count,8519.000000,8519.000000,8519.000000,8519.000000,8519.000000,8519.000000,8519.000000,8519.000000,8519.000000
mean,206.447490,2.384897,0.107114,6.425037,27.385687,3.517365,89.149873,26.965117,1.097312
std,956.680755,2.252126,0.559969,21.872109,81.948931,0.808308,7.464055,8.035280,1.231690
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.664613,59.569175,12.415871,0.000000
25%,0.000000,0.258182,0.000000,0.000000,0.000000,2.973509,84.166662,21.665629,0.000000
50%,0.000000,1.987357,0.000000,0.000000,0.000000,3.522851,89.346789,25.295998,1.000000
75%,0.000000,3.910286,0.000000,0.000000,0.000000,4.061052,94.316578,30.322435,2.000000
max,10820.137808,12.598495,7.289302,202.702735,573.833319,6.352750,116.700292,129.999157,5.000000

#### 3 - Iron deficiency anemia

There are a total of 121 IDA test samples. Of these, 3 are diagnosed as hemolytic anemia while 18 are diagnosed as having aplastic anemia

In [38]:
#ida_test_df = test_df[test_df.y_pred == 3]
ida_test_df = test_df[test_df.y_actual == 3]
ida_x_test_df = X_test_df[X_test_df.label== 3]
combined_ida_test_df = pd.concat([ida_x_test_df, ida_test_df], axis=1)
combined_ida_test_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,label,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred
81,5.204281,4.799012,0.00000,0.0,163.541988,75.774616,3,8.0,81.0,0.0,0.0,1.0,"['hemoglobin', 'mcv', 'ferritin', 'ret_count',...",3.0,NaN
191,9.422081,6.293629,0.00000,0.0,246.411440,77.644708,3,8.0,191.0,0.0,0.0,1.0,"['hemoglobin', 'mcv', 'ferritin', 'ret_count',...",3.0,NaN
206,5.702470,6.713796,0.00000,0.0,242.904336,78.319672,3,8.0,206.0,0.0,0.0,1.0,"['hemoglobin', 'mcv', 'ferritin', 'ret_count',...",3.0,NaN
268,8.741973,5.243427,0.58045,0.0,291.364377,76.053946,3,6.0,268.0,1.0,6.0,0.0,"['hemoglobin', 'mcv', 'ferritin', 'ret_count',...",3.0,3.0
284,11.606463,3.271495,0.00000,0.0,278.757066,76.910957,3,8.0,284.0,0.0,0.0,1.0,"['hemoglobin', 'mcv', 'ferritin', 'ret_count',...",3.0,NaN

In [40]:
combined_ida_test_df.mcv.mean()

75.95405101094063

In [41]:
#Looking at the 3 that are diagnoses as hemolytic
ida_hem_pred_df = combined_ida_test_df[(combined_ida_test_df.y_pred==1)|(combined_ida_test_df.y_pred==2)]
ida_hem_pred_df.mcv.mean()

79.46021283637137

In [25]:
len(ida_hem_pred_df)

118

In [9]:
a3 = ida_test_df[ida_test_df.y_actual != ida_test_df.y_pred]
a3.head()

Empty DataFrame
Columns: [episode_length, index, is_success, reward, terminated, trajectory, y_actual, y_pred]
Index: []

In [70]:
#rows with tibc in their trajectory
tibc_ida_df = pd.DataFrame()
count=0
for i, row in ida_test_df.iterrows():
    try:
        traj = ast.literal_eval(row.trajectory)
    except:
        traj = row.trajectory
    if 'tibc' in traj:
        tibc_ida_df = tibc_ida_df.append(row)
tibc_ida_df

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred
3476,7.0,3476.0,1.0,7.0,0.0,"['mentzer_index', 'rbc', 'iron', 'mcv', 'ferri...",3.0,3.0
3553,7.0,3553.0,1.0,7.0,0.0,"['mentzer_index', 'rbc', 'iron', 'mcv', 'ferri...",3.0,3.0
3956,7.0,3956.0,1.0,7.0,0.0,"['mentzer_index', 'rbc', 'iron', 'mcv', 'ferri...",3.0,3.0
5052,7.0,5052.0,1.0,7.0,0.0,"['mentzer_index', 'rbc', 'iron', 'mcv', 'ferri...",3.0,3.0

In [71]:
b3_index_list = list(tibc_ida_df.index)
b3_x_test_df = X_test_df.iloc[b3_index_list]
b3_x_test_df

,ferritin,ret_count,segmented_neutrophils,iron,tibc,rbc,mcv,mentzer_index,label
3476,1.882835,0.0,0.0,151.140276,309.885395,2.767909,78.672609,28.423117,3
3553,1.836332,0.0,0.0,151.640269,113.897048,3.129228,74.955135,23.953234,3
3956,1.737838,0.0,0.0,113.872103,211.983293,1.190145,78.387423,65.863742,3
5052,1.765401,0.0,0.0,20.020334,298.601157,1.939750,77.485236,39.945995,3

#### 4 - Vitamin b12

In [72]:
vit_test_df = test_df[test_df.y_pred == 4]
vit_x_test_df = X_test_df[X_test_df.label== 4]

In [73]:
a4= vit_test_df[vit_test_df.y_actual != vit_test_df.y_pred]
a4.head()

Empty DataFrame
Columns: [episode_length, index, is_success, reward, terminated, trajectory, y_actual, y_pred]
Index: []