In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import random
import os
import torch
import sys
sys.path.append('../..')
from modules.many_features import utils, constants
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
SEED = 42
random.seed(SEED)
np.random.seed(SEED)
os.environ['PYTHONHASHSEED']=str(SEED)
torch.manual_seed(SEED)
torch.use_deterministic_algorithms(True)

In [3]:
df = pd.read_csv('../../data/anemia_synth_dataset_some_nans_unspecified_more_feats.csv')
# df = df.fillna(-1)
df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,age,gender,indirect_bilirubin,transferrin,creatinine,cholestrol,copper,ethanol,folate,glucose,label
0,6.780822,NaN,0.765900,NaN,NaN,94.832889,NaN,3.873318,60.820802,1,0.226514,365.311206,NaN,NaN,NaN,53.076582,NaN,93.339238,Aplastic anemia
1,8.273517,NaN,1.886329,NaN,255.874605,80.271248,NaN,NaN,51.727197,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aplastic anemia
2,6.476354,NaN,2.242322,NaN,NaN,96.768764,188.358607,6.933612,69.197078,0,0.900096,294.104836,1.59928,27.352031,73.534414,66.398139,29.913537,84.163035,Hemolytic anemia
3,9.667797,NaN,0.764684,0.0,NaN,114.090607,NaN,3.226313,69.436412,0,2.872353,180.224766,NaN,NaN,NaN,65.486466,3.986302,40.828158,Unspecified anemia
4,1.239798,NaN,6.775830,0.0,NaN,87.933601,NaN,NaN,62.543057,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hemolytic anemia

In [4]:
df.isna().sum()

hemoglobin                   0
ferritin                 22742
ret_count                11470
segmented_neutrophils    27764
tibc                     22742
mcv                       2000
serum_iron               19994
rbc                       3999
age                          0
gender                       0
indirect_bilirubin       11996
transferrin               7997
creatinine               19994
cholestrol               19994
copper                   23992
ethanol                   7997
folate                   15995
glucose                   3999
label                        0
dtype: int64

In [ ]:
def make_na(df, column_list, frac):
    for i, col in enumerate(column_list):
        if instance(frac, float):
            vals_to_nan = df[col].dropna().sample(frac=frac).index
        elif instance(frac, list) & (len(column_list)==len(frac)):
            vals_to_nan = df[col].dropna().sample(frac=frac[i]).index
        elif len(column_list) != len(frac):
            print('The column and frac lists should be of the same length')
            return
        else:
            print('I have no idea what is happening :)')
            return
        df.loc[vals_to_nan, col] = np.nan
        
            
    if column_list is None:
        for col in df.columns
        
    elif isinstance(frac, float):
        for col in column_list:
            vals_to_nan = df[col].dropna().sample(frac=frac).index
            df.loc[vals_to_nan, col] = np.nan
    elif len(column_list) != len(frac):
        
    elif len(column_list) == len(frac):
        for i, col in enumerate(column_list):
            pass
    else:

In [16]:
a = (1, 2)
isinstance(a, list)

False