In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import random
import os
from datetime import datetime
# import torch
from stable_baselines import DQN
from stable_baselines import bench, logger
import tensorflow
import sys
sys.path.append('..')
from modules import utils, constants
from sklearn.model_selection import train_test_split
from stable_baselines.common.callbacks import CheckpointCallback
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
SEED = constants.SEED
random.seed(SEED)
np.random.seed(SEED)
# os.environ['PYTHONHASHSEED']=str(SEED)
tensorflow.set_random_seed(constants.SEED)
tensorflow.compat.v1.set_random_seed(constants.SEED)
# torch.manual_seed(SEED)
# torch.use_deterministic_algorithms(True)

WARNING:tensorflow:From /tmp/ipykernel_27006/352228133.py:5: The name tf.set_random_seed is deprecated. Please use tf.compat.v1.set_random_seed instead.

#### The data

In [4]:
#train_df = pd.read_csv('../../final/data/train_set_noisy_6_missing_3.csv')
# train_val_df = pd.read_csv('../data/train_set_basic.csv')
# train_val_df = train_val_df.fillna(-1)
# train_val_df.head()

In [5]:
# X_train_val = train_val_df.iloc[:, 0:-1]
# y_train_val = train_val_df.iloc[:, -1]

In [6]:
# X_train, X_val, y_train, y_val = train_test_split(X_train_val, y_train_val, test_size=0.1, stratify=y_train_val, 
#                                                   random_state=SEED)

In [7]:
# train_df = pd.concat([X_train.reset_index(drop=True), y_train.reset_index(drop=True)], axis=1)
# val_df = pd.concat([X_val.reset_index(drop=True), y_val.reset_index(drop=True)], axis=1)

In [8]:
# train_df.to_csv('../data/train_set_basic.csv', index=False)
# val_df.to_csv('../data/val_set_constant.csv', index=False)

In [9]:
train_df = pd.read_csv('../data/train_set_basic.csv')
train_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,14.728733,-1.000000,3.170892,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1,-1.000000,-1.000000,-1.0,-1.000000,-1.0,-1.000000,44.186200,-1.0,0
1,10.405752,9.634615,5.659537,-1.000000,-1.000000,77.413788,212.671838,4.032519,0,0.887130,96.311597,-1.0,43.218595,-1.0,83.207518,31.217256,-1.0,4
2,15.132737,358.914888,1.842252,3.797487,315.102272,80.500314,-1.000000,5.639507,0,-1.000000,-1.000000,-1.0,-1.000000,-1.0,-1.000000,45.398211,-1.0,0
3,11.340169,-1.000000,1.662209,2.441767,-1.000000,97.033963,102.079062,3.506041,1,1.020527,127.281715,-1.0,20.847013,-1.0,62.210273,34.020508,-1.0,6
4,6.691485,-1.000000,3.337971,-1.000000,-1.000000,99.838438,24.119564,2.010694,0,1.957666,34.633063,-1.0,34.612121,-1.0,112.411298,20.074456,-1.0,5

In [10]:
len(train_df)

50400

In [11]:
test_df = pd.read_csv('../data/test_set_constant.csv')
test_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,7.116363,-1.000000,3.781573,2.738413,-1.000000,95.904198,68.457895,2.226085,0,1.892912,39.808550,110.329197,64.404350,21.654404,73.787009,21.349089,-1.000000,5
1,8.125320,92.230003,4.231419,1.188039,143.365567,104.057204,204.747831,2.342554,0,0.652614,13.478089,-1.000000,32.705481,-1.000000,43.520272,24.375961,142.815207,1
2,11.309450,38.324563,-1.000000,-1.000000,455.077909,76.402602,-1.000000,4.440732,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,33.928350,-1.000000,4
3,13.763858,253.513394,2.262606,0.551444,453.772884,82.781943,90.101466,4.987993,0,0.853521,104.005514,34.639227,0.963866,22.083012,88.891838,41.291574,19.856071,0
4,11.464002,-1.000000,-1.000000,-1.000000,320.964653,104.287127,-1.000000,3.297819,0,1.163516,121.616315,105.895897,-1.000000,9.337462,-1.000000,34.392007,-1.000000,7

In [12]:
X_train = train_df.iloc[:, 0:-1]
y_train = train_df.iloc[:, -1]

X_test = test_df.iloc[:, 0:-1]
y_test = test_df.iloc[:, -1]

X_train, y_train = np.array(X_train), np.array(y_train)
X_test, y_test = np.array(X_test), np.array(y_test)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((50400, 17), (14000, 17), (50400,), (14000,))

#### The DQN Agent

In [ ]:
training_env = utils.create_env(X_train, y_train)
training_env = bench.Monitor(training_env, logger.get_dir())
# model = DQN('MlpPolicy', training_env, verbose=1, seed=constants.SEED, learning_rate=0.0001, buffer_size=1000000, 
#             learning_starts=50000, train_freq=4, target_network_update_freq=10000, exploration_final_eps=0.05, 
#             n_cpu_tf_sess=1, policy_kwargs=dict(dueling=False), double_q=False)

model = DQN('MlpPolicy', training_env, verbose=1, seed=constants.SEED, learning_rate=0.0001, buffer_size=1000000, 
            learning_starts=50000, train_freq=4, target_network_update_freq=10000, exploration_final_eps=0.05, 
            n_cpu_tf_sess=1)


checkpoint_callback = CheckpointCallback(save_freq=100000, save_path='../models/sb/dqn', name_prefix='dqn_basic')

model.learn(total_timesteps=50000000, log_interval=500000, callback=checkpoint_callback)